html {
  font-size: 18px;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Main background */
#main-bg {
  background-image: url('../resources/images/glasses-bg.png');
  background-size: cover;
  width: 100%;
  height: 30rem;
  background-position: 35%;
  display: flex;
  justify-content: center;
}
#container {
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

/* Top Banner */
#top-banner {
  background-color: cadetblue;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo-white {
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo-white img {
  height: 1.5rem;
  margin-left: 2rem;
}
#logo-white p {
  margin-left: 1rem;
}
#desktop-tablet-nav {
  margin: 0;
  display: flex;
}
#desktop-tablet-nav li {
  display: flex;
}
#desktop-tablet-nav a {
  color: white;
  text-decoration: none;
  margin: 1rem 2rem;
}
#phone-nav {
  display: none;
}

/* Company Slogan */
#slogan {
  left: 2rem;
  background-color: white;
  margin-top: 10rem;
  position: relative;
}
#slogan p {
  font-size: 2rem;
  font-weight: bold;
  font-family: Helvetica;
  line-height: 1.2;
  padding: 0;
  margin: 1.5rem 5rem;
}

/* Logos */
#logos-container {
  display: flex;
  justify-content: center;
}
.logo {
  height: 8rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo-box__one, #logo-box__two {
  margin-right: 6rem;
}
#paper-logo {
  width: 3.5rem;
}
#ruler-logo, #truck-logo {
  width: 5rem;
}
.logo p {
  font-family: Helvetica;
  text-align: center;
}
#logo-box__two p {
  margin-top: 50px;
}
#logo-box__three p {
  margin-top: 42px;
}

/* Information Container */
#info-container {
  width: 1032px;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: : center;
  width: 35%;
}
#phi-title, #app-title {
  background-color: cadetblue;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  width: 10rem;
}
#phi-title p, #app-title p {
  margin: .5rem 0;
  margin-left: 1.25rem;
}
#info-box__one {
  margin-right: 5%;
}
.info p {
  font-family: Helvetica;
  margin-top: 1rem;
}

/* Footer */
footer {
  background-color: azure;
  width: 1032px;
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer img {
  height: 1.5rem;
  margin: 4rem 0;
  margin-left: 4rem;
  margin-right: 1rem;
}
footer p {
  font-family: Helvetica;
}

/* Tablet Queries */
@media only screen and (max-width: 1024px) {
  #container {
    width: 100%;
  }
  #top-banner {
    margin: 0;
  }
  #main-bg {
    height: 22rem;
  }
  #slogan {
    margin-top: 5rem;
    margin-right: 2rem;
  }
  #slogan p {
    font-size: 1.33rem;
    margin: .75rem 4rem;
  }
  #logos-container {
    width: 100%;
  }
  #info-container {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}

/* Phone Queries */
@media only screen and (max-width: 480px) {
  #main-bg {
    height: 17rem;
    background-position: 20%;
  }
  #container {
    width: 100%;
  }
  #top-banner {
    margin: 0;
  }
  #logo-white p {
    display: none;
  }
  #phone-nav {
    display: flex;
  }
  #phone-nav ul {
    margin-right: 2rem;
  }
  #phone-nav li {
    display: flex;
  }
  #phone-nav a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
  }
  #desktop-tablet-nav {
    display: none;
  }
  #slogan {
    margin-top: 9rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #slogan p {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  #logos-container {
    margin: 3.77rem 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  #logo-box__one, #logo-box__two {
    margin-right: 0;
    margin-bottom: 1.54rem;
  }
  .logo {
    padding: 0;
  }
  #info-container {
    margin-top: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  #info-box__one {
    margin-right: 0;
  }
  #phi-title, #app-title {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #phi-title p, #app-title p {
    margin-left: 0;
  }
  .info {
    width: 100%;
    margin-bottom: 4rem;
  }
  .info p {
    margin: 0;
    margin-top: 1rem;
    margin-left: .51rem;
    margin-right: 2rem;
  }
  footer {
    width: 100%;
    justify-content: center;
  }
  footer img {
    margin: 4rem 0;
  }
  footer p {
    display: none;
  }
}
